//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <175>;
    tapping-term-ms = <1280>;
    require-prior-idle-ms = <150>;
    hold-trigger-on-release;
    hold-trigger-key-positions = <33 32 20 31>;
};

&lt { tapping-term-ms = <140>; };

/ {
    combos {
        compatible = "zmk,combos";

        dobleCtrl {
            bindings = <&kp F13>;
            key-positions = <15 14>;
        };

        winE {
            bindings = <&kp LG(E)>;
            key-positions = <1 2>;
            layers = <1 0>;
        };

        ctrlAlt {
            bindings = <&kp LC(A)>;
            key-positions = <10 34>;
        };

        controlX {
            bindings = <&kp LC(X)>;
            key-positions = <22 23 24>;
        };

        ctrlV {
            bindings = <&kp LC(V)>;
            key-positions = <23 24>;
        };

        ctrlC {
            bindings = <&kp LC(C)>;
            key-positions = <22 23>;
        };

        altf4 {
            bindings = <&kp LA(F4)>;
            key-positions = <6 8>;
        };

        f6 {
            bindings = <&kp F6>;
            key-positions = <35 15>;
        };

        ctrlZ {
            bindings = <&kp LC(Z)>;
            key-positions = <21 22>;
        };

        ctrlShiftZ {
            bindings = <&kp LC(RS(Z))>;
            key-positions = <21 22 23>;
        };

        f5 {
            bindings = <&kp F5>;
            key-positions = <4 34>;
        };

        dvorak-qwerty {
            bindings = <&to 0>;
            key-positions = <31 3>;
            layers = <1>;
        };

        qwert {
            bindings = <&to 1>;
            key-positions = <31 3>;
            layers = <0>;
        };

        f11 {
            bindings = <&kp F11>;
            key-positions = <35 26>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <34 35>;
        };

        spaceBorrar {
            bindings = <&kp SPACE>;
            key-positions = <11 13>;
        };
    };

    macros {
        pregunta: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N1 &kp KP_N6 &kp KP_N8>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "NEW_MACRO";
        };

        exclamacion: exclamacion {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_N1>,
                <&macro_tap>,
                <&kp KP_N7>,
                <&macro_tap>,
                <&kp KP_N3>,
                <&macro_release>,
                <&kp LEFT_ALT>;
        };

        em_dash: em_dash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_N0>,
                <&macro_tap>,
                <&kp KP_N1>,
                <&macro_tap>,
                <&kp KP_N5>,
                <&macro_tap>,
                <&kp KP_N1>,
                <&macro_release>,
                <&kp LEFT_ALT>;
        };

        guillemet_left: guillemet_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_N0>,
                <&macro_tap>,
                <&kp KP_N1>,
                <&macro_tap>,
                <&kp KP_N7>,
                <&macro_tap>,
                <&kp KP_N1>,
                <&macro_release>,
                <&kp LEFT_ALT>;
        };

        guillemet_right: guillemet_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_N0>,
                <&macro_tap>,
                <&kp KP_N1>,
                <&macro_tap>,
                <&kp KP_N8>,
                <&macro_tap>,
                <&kp KP_N7>,
                <&macro_release>,
                <&kp LEFT_ALT>;
        };
    };

    behaviors {
        spacio_capa: spacio_capa {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACIO_CAPA";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };

        shiftModMorph: shiftModMorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFTMODMORPH";
            bindings = <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        dvorack {
            bindings = <
                  &kp COMMA       &kp RA(N)  &kp P    &kp Y   &kp F     &kp G   &kp C   &kp H   &kp L  &kp LEFT_ALT
                  &mt LEFT_ALT A  &kp O      &kp E    &kp U   &kp I     &kp D   &kp R   &kp T   &kp N  &kp S
&kp LEFT_CONTROL  &kp DOT         &kp Q      &kp J    &kp K   &kp X     &kp B   &kp M   &kp W   &kp V  &kp Z         &kp LEFT_SHIFT
                                             &kp TAB  &trans  &trans    &trans  &trans  &trans
            >;
        };

        base {
            bindings = <
                  &kp Q           &kp W  &kp E    &kp R           &kp T              &kp Y                 &kp U  &kp I          &kp O    &kp P
                  &mt LEFT_ALT A  &kp S  &kp D    &kp F           &kp G              &kp H                 &kp J  &kp K          &kp L    &kp RA(N)
&kp LEFT_CONTROL  &kp Z           &kp X  &kp C    &kp V           &kp B              &kp N                 &kp M  &kp COMMA      &kp DOT  &kp LEFT_ALT  &kp LEFT_SHIFT
                                         &kp TAB  &kp LEFT_SHIFT  &lt 2 BACKSPACE    &spacio_capa 3 SPACE  &mo 4  &sk RIGHT_ALT
            >;
        };

        navegacion {
            bindings = <
                  &kp ESCAPE     &kp BACKSPACE  &kp UP        &kp LC(LS(TAB))  &kp LC(TAB)    &kp LC(N7)  &kp LC(N1)      &kp LC(N2)   &kp LC(N3)    &kp NUMBER_5
                  &kp LC(LS(T))  &kp LEFT       &kp DOWN      &kp RIGHT        &kp LC(W)      &kp LC(N8)  &kp LCTRL       &kp RSHFT    &kp LEFT_ALT  &kp TAB
&kp LEFT_CONTROL  &kp LC(X)      &kp LC(LS(N))  &kp ENTER     &kp LC(N)        &kp LC(T)      &kp LC(N9)  &kp LC(N4)      &kp LC(N5)   &kp LC(N6)    &kp LEFT_ALT  &trans
                                                &kp LEFT_WIN  &kp LEFT_ALT     &none          &mo 4       &kp LEFT_SHIFT  &kp PERCENT
            >;
        };

        programacion_simbolos {
            bindings = <
               &kp ESC        &kp SQT           &kp DOUBLE_QUOTES  &kp LEFT_BRACE        &kp RIGHT_BRACE          &kp SLASH  &kp BACKSLASH  &kp PIPE      &kp QUESTION  &kp F5
               &kp RA(A)      &kp SINGLE_QUOTE  &kp MINUS          &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp COLON  &kp EQUAL      &kp PLUS      &kp MINUS     &kp N0
&kp LC(LS(B))  &kp LESS_THAN  &kp GREATER_THAN  &kp UNDERSCORE     &kp LEFT_BRACKET      &kp RIGHT_BRACKET        &kp SEMI   &kp ASTERISK   &kp SLASH     &kp N9        &kp F10  &kp F16
                                                &trans             &trans                &kp LEFT_SHIFT           &none      &none          &kp LEFT_WIN
            >;
        };

        unnicode_numeros {
            bindings = <
        &kp PIPE  &kp AMPERSAND  &kp AT  &kp POUND  &kp AMPERSAND    &exclamacion  &kp EXCLAMATION  &pregunta  &kp QUESTION  &kp EQUAL
        &trans    &kp N1         &kp N2  &kp N3     &kp COLON        &kp COLON     &kp N7           &kp N8     &kp N9        &kp N0
&trans  &trans    &kp N4         &kp N5  &kp N6     &em_dash         &kp SEMI      &kp DOT          &kp N0     &kp COMMA     &kp SEMI   &trans
                                 &trans  &trans     &trans           &trans        &trans           &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
